<!--The content below is only a placeholder and can be replaced.-->
<div class="table-responsive">
  <!--
<table  mdbTable striped="true">
  <thead class="black white-text">
    <tr>
      <th  class="th-lg">Name</th>
      <th  class="th-lg">Address1</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let arr of emp">
          <td>{{arr[0]}}</td>
          <td>{{arr.address1}}</td>
        
    </tr>
 </tbody>
</table> 
</div>-->

  
  
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/aboutUs" routerLinkActive="active">About Us</a>
      <a routerLink="/userProfile" routerLinkActive="active">User Profile</a>
      <a routerLink="/getAllUsers" routerLinkActive="active">View All Users</a>
      <a routerLink="/registerUser" routerLinkActive="active">Register</a>
    </nav>
  <router-outlet></router-outlet>
 
 
  
<!--   

<button (click)="viewUser()">View User Details</button>
 
  <button (click)="createUser(model)"></button> -->
  
